<% layout('../layouts/form-layout') -%>
<% block('title', restaurant.restaurant_id ? 'Редактировать ресторан' : 'Добавить ресторан' ) -%>
<form class="form" action="<%= action %>" method="POST">
  <div class="form_item">
    <label>Имя</label>
    <input name="name" value="<%= restaurant.name || '' %>" placeholder="Название" required><br>
  </div>
  <div class="form_item">
    <label>Адрес</label>
    <input name="address" value="<%= restaurant.address || '' %>" placeholder="Адрес" required><br>
  </div>
  <div class="form_item">
    <label>Телефон</label>
    <input name="phone" value="<%= restaurant.phone || '' %>" placeholder="Телефон" required><br>
  </div>
  <button class="btn" type="submit">Сохранить</button>
</form>