<% layout('../layouts/list-layout') -%>
  <% block('title', "Элементы меню" ) -%>
    <% block('h1', "Список элементов меню" ) -%>
      <% block('href', "menu-items/add" ) -%>
        <% block('link_text', "Добавить элемент меню" ) -%>
          <ul>
            <% menuItems.forEach(courier=> { %>
              <li>
                <div>
                  Имя: <%= courier.name %>
                </div>
                <div>
                  Телефон: <%= courier.phone %>
                </div>
                <div>
                  Транспорт: <%= courier.vehicle %>
                </div>
                <div>
                  Дата найма: <%= courier.hired_at %>
                </div>
              </li>
              <% }) %>
          </ul>