<% layout('../layouts/main') -%>
<% block('title', 'Список отчетов') -%>

<ul>
  <li>
    <a href="/reports/restaurant-sales">Отчет доходов по ресторанам</a>
  </li>
  <li>
    <a href="/reports/customer-activity">Отчет активности клиентов</a>
  </li>
  <li >
    <a href="/reports/restaurant-ratings">Отчет среднего рейтинга по ресторанам</a>
  </li>
</ul>