<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <title>
    <%=blocks.title%>
  </title>
</head>

<body class="wrapper">
  <header class="header">
    <nav class="nav">
      <ul class="nav_list" role="list">
        <li>
          <a href="/customers">Клиенты</a>
        </li>
        <li>
          <a href="/restaurants">Рестораны</a>
        </li>
        <li>
          <a href="/orders">Заказы</a>
        </li>
        <li>
          <a href="/couriers">Курьеры</a>
        </li>
        <li>
          <a href="/reviews">Отзывы</a>
        </li>
        <li>
          <a href="/menu_items">Элементы меню</a>
        </li>
        <li>
          <a href="/menu_categories">Категории меню</a>
        </li>
        <li>
          <a href="/order_items">Позиции заказов</a>
        </li>
        <li>
          <a href="/menu_item_categories">Связующая блюдо-категория</a>
        </li>
      </ul>
      <div class="nav_additional">
        <a href="/reports">Отчеты</a>
      </div>
    </nav>
    <nav class="nav__mobile">
      <div class="nav_menu">
        <div class="nav_btn">Меню</div>
        <div>
          <ul class="nav_list" role="list">
            <li>
              <a href="/customers">Клиенты</a>
            </li>
            <li>
              <a href="/restaurants">Рестораны</a>
            </li>
            <li>
              <a href="/orders">Заказы</a>
            </li>
            <li>
              <a href="/couriers">Курьеры</a>
            </li>
            <li>
              <a href="/reviews">Отзывы</a>
            </li>
            <li>
              <a href="/menu_items">Элементы меню</a>
            </li>
            <li>
              <a href="/menu_categories">Категории меню</a>
            </li>
            <li>
              <a href="/order_items">Позиции заказов</a>
            </li>
            <li>
              <a href="/menu_item_categories">Связующая блюдо-категория</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav_additional">
        <a href="/reports">Отчеты</a>
      </div>
    </nav>
  </header>
  <main class="content">
    <%-body -%>
  </main>
</body>
</html>